html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 3vw;
    padding: 0px;
    line-height: 0px;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 1.5vw;
    padding: 0px;
    line-height: 0px;
}
:root
{
    --lightBlue: #36D0DC;
    --darkBlue: #5B87E5;
}
.container
{
    height: auto;
    background-image: linear-gradient(to bottom left, var(--lightBlue), var(--darkBlue));
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0;
    width: 100%;
    line-height: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.header{

}