h1, h2, h3, h4, p, a{
    font-family: 'Roboto Light', sans-serif;
}

:root
{
	--lightBlue: #36D0DC;
	--darkBlue: #5B87E5;
}

a{
    text-decoration: none !important;
    padding-right: 1em;
    padding-left: 1em;
    border: none;
    border-right: 0.5px solid #aaaaaa;
    color: inherit;
}
.last{
	border: none;
}

body {
   margin: 0;
   padding: 0;
}

hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 4px auto;
       height: 0;
       width: 50%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 0.5px solid #aaaaaa;
    }

.headline h1, .headline div {
    display: inline;
    font-size: 16px;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

#links{
	margin-top: 2em;
}
.headline h1 {
   font-weight: normal;
	font-size: 32px;
	padding-left: 2em;	
	display: block;
	margin: 0;	
}

.headline div{
	float: right;
	padding-right: 2em;
}

.headline{
	height: auto;
	background: white;
	display: flex;
}

#introContainer{
	height: 20vm;
	background-image: linear-gradient(to bottom left, var(--lightBlue), var(--darkBlue));
	background-repeat: no-repeat;
	position: relative;
    text-align: center;
}
#title{
	padding-left: 1vw;
}


.introTextCombo{
	display: flex;
	justify-content: center;
}


.introTextCombo img{
	float: right;
	padding-left: 2em;
	padding-top: 2em;
}

.intro{
	float: right;
	padding-top: 4em;
	padding-bottom: 4em;
}
.intro h1, h2{
	font-size: 80px;
	font-weight: lighter;
	margin: 0;	
}
.intro h1{
	color: white;
}
.intro h2{
	color: white;	
	text-align: center;
}
.intro p{
	text-align: center;
}
.textBox{
	width: 35em;
	margin: auto;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#features{
	background: rgb(52, 52, 52);
	height: 40em;
}

#features h1, p{
	margin: 0;
	padding-top: 2em;
	text-align: center;
}

#features h1{
	color: white;
}
#features p {
	color: rgb(164, 164, 164);
}


.showcase{
	width: 75%;
	max-width: 1920px; 
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 1670px) {
    .showcase{
    	width: 100%;
    }
}
@media only screen and (max-width: 1240px) {

    .showcase{
    	display: block !important;
    }

    #features{
    	height: 80em !important;
    }
    #feat1, #feat2, #feat3{
	    all: initial;
	  * {
	    all: unset;		
	  }
	}
	#feat1, #feat2, #feat3{
		display: block;	
		background: rgb(62, 62, 62);
		text-align: center;
		width: 50%;
		padding-left:1em;
		padding-right: 1em;		
		border-style: solid;
		border-width: 0;
		margin: 0 auto;
		margin-top: 2em;
		margin-bottom: 2em;

	}
}

@media only screen and (max-width: 1500px) {
	.intro h1, h2{
		font-size: 60px;	
	}
	.intro h1{
		text-align: initial;
	}
	.introTextCombo img{
		padding-left: 0%;
		padding-top: 4%;
	}
}
@media only screen and (max-width: 1450px) {
	.intro h1, h2{
		font-size: 64px;	
	}
	.intro h1{
		text-align: left;
	}
	.intro h2{
		text-align: center;
	}
	.intro p{
		font-size: 16px;	
		text-align: center;		
	}
	.intro{padding-left: 0 !important;}
	.introTextCombo img{
		display: none;
	}





}

@media only screen and (max-width: 1300px) {
	.intro h1, h2{
		font-size: 60px;	
	}
	.intro h1{
		text-align: initial;
	}
	.introTextCombo img{
		padding-left: 0%;
		padding-top: 4%;
		padding-right: 2%;
	}
}


@media only screen and (max-width: 1030px) {
    .showcase{
    	display: block;
    }
}

@media only screen and (max-width: 600px) {
	#feat1, #feat2, #feat3{
		width: 70%;
	}
}


@media only screen and (max-width: 550px) {
	.textBox{
		width: auto;
	}


}


figure{
	display: inline-block;
	background: rgb(62, 62, 62);
	width: 400px;
	text-align: center;
	padding-left:1em;
	padding-right: 1em;
	border-style: solid;
	border-width: 0;

}

#feat1{
	border-bottom-width: 0.5em;
	border-bottom-color: var(--lightBlue);
}
#feat2{
	border-bottom-width: 0.5em;
	border-bottom-color: var(--lightBlue);
}
#feat3{
	border-bottom-width: 0.5em;
	border-bottom-color: var(--lightBlue);
}

figure h1{
	color: white;
}
figure p {
	color: rgb(164, 164, 164);
	margin-bottom: 1em;
}

.aboutIm{
	margin: 0 auto;
	margin-top: 1em;
	height: 11vw;
}
#laptop{
	filter: invert(1);
}

.video{
	background: #373737;
	height: 48em;
	position: relative;
}

#ad{
 	position: absolute;
  	left: 50%;
  	top: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height:100%;
	border: 0;
}

#download{
	background-image: linear-gradient(to bottom left, var(--lightBlue), var(--darkBlue));
	text-align: center;
	height: auto;
	position: relative;
	margin-bottom: 0;
}

#download h2{
	color: white;
	font-size:32px;
	padding-top: 1em;
}

#download h1{
	border-style: solid;
	border-width: 4px;
	border-color: white;
	font-size: 48px;
	padding-top: 0.5em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-bottom:  0.5em;
}





#headerImg{
	padding-left: 3vw;
	filter: invert(1);

}